<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chad</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<template id="channel-window-template">
    <div class="channel-window tab">
        <div class="top-bar">
            <div class="channel-info">
                <div class="heading">
                    <span class="name"></span>
                    <span class="game"></span>
                </div>
                <div class="status"></div>
            </div>
        </div>
        <ul class="messages"></ul>
        <form class="message-form">
            <div class="settings-footer">
                <div class="settings-button open-settings">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2">
                        <defs>
                            <mask id="center-circle-mask">
                                <rect x="0" y="0" width="2" height="2" fill="white" ></rect>
                                <circle cx="1" cy="1" r="0.4" fill="black" ></circle>
                            </mask>
                        </defs>
                        <g mask="url(#center-circle-mask)">
                            <path d="
                                M
                                1.7071067811865,1.7071067811865
                                Q
                                1.1414213562373,0.8585786437627 0.2928932188135,0.2928932188135
                                0.8585786437627,1.1414213562373 1.7071067811865,1.7071067811865
                                Z
                                " stroke-width="0.3" stroke="currentColor" ></path>

                            <path d="
                                M
                                1.7071067811865,0.2928932188135
                                Q
                                1.1414213562373,1.1414213562373 0.2928932188135,1.7071067811865
                                0.8585786437627,0.8585786437627 1.7071067811865,0.2928932188135
                                Z
                                " stroke-width="0.3" stroke="currentColor" ></path>

                            <path d="
                                M
                                1,0
                                Q
                                0.8,1 1,2
                                1.2,1 1,0
                                " stroke-width="0.3" stroke="currentColor" ></path>

                            <path d="
                                M
                                0,1
                                Q
                                1,0.8 2,1
                                1,1.2 0,1
                                " stroke-width="0.3" stroke="currentColor" ></path>

                            <circle fill="currentColor" cx="1" cy="1" r="0.8" ></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="message-box-wrap">
                <input class="message-box" />
                <div class="message-emote-button">
                    <svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/icons.svg#icon-emotes"></use></svg>
                </div>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
    <li></li>
</template>

<template id="chat-message-template">
    <li>
        <time></time><span class="badges"></span><span class="username"></span><span class="sep"></span><span class="message"></span>
    </li>
</template>

<template id="emote-popover-template">
    <div class="context-menu emote-popover tab-container">
        <div class="emote-tab-wrapper tabs">
            <div class="tab emote-list twitch active" data-name="twitch"></div>
            <div class="tab emote-list" data-name="bttv">
                <div class="emote-group bttv-emotes-channel"></div>
                <div class="emote-group bttv-emotes-global"></div>
            </div>
        </div>
        <div class="emote-tab-bar tab-list">
            <a class="tab-link emote-tab active" data-tab="twitch" data-title="Twitch">
                <svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/icons.svg#icon-twitch"></use></svg>
            </a>
            <a class="tab-link emote-tab" data-tab="bttv" data-title="BTTV">
                <svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="img/icons.svg#icon-bttv"></use></svg>
            </a>
        </div>
    </div>
</template>

<div id="main-window" class="tab-container">
    <div id="sidebar">
        <div class="top-bar"></div>
        <ul id="channel-list" class="tab-list">
            <li id="channel-add" class="menu-item">
                <button>Add channel</button>
            </li>
        </ul>
        <div class="settings-footer">
            <div class="settings-button open-settings">
                <svg xmlns="http://www.w3.org/2000/svg" id="icon-settings" viewBox="0 0 2 2">
                    <defs>
                        <mask id="icon-settings-mask" maskContentUnits="objectBoundingBox">
                            <rect x="0" y="0" width="1" height="1" fill="white" ></rect>
                            <circle cx="0.5" cy="0.5" r="0.2" fill="black" ></circle>
                        </mask>
                    </defs>
                    <g mask="url(#icon-settings-mask)">
                        <path d="
                            M
                            1.7071067811865,1.7071067811865
                            Q
                            1.1414213562373,0.8585786437627 0.2928932188135,0.2928932188135
                            0.8585786437627,1.1414213562373 1.7071067811865,1.7071067811865
                            Z
                            " stroke-width="0.3" stroke="currentColor" ></path>

                        <path d="
                            M
                            1.7071067811865,0.2928932188135
                            Q
                            1.1414213562373,1.1414213562373 0.2928932188135,1.7071067811865
                            0.8585786437627,0.8585786437627 1.7071067811865,0.2928932188135
                            Z
                            " stroke-width="0.3" stroke="currentColor" ></path>

                        <path d="
                            M
                            1,0
                            Q
                            0.8,1 1,2
                            1.2,1 1,0
                            " stroke-width="0.3" stroke="currentColor" ></path>

                        <path d="
                            M
                            0,1
                            Q
                            1,0.8 2,1
                            1,1.2 0,1
                            " stroke-width="0.3" stroke="currentColor" ></path>

                        <circle fill="currentColor" cx="1" cy="1" r="0.8" ></circle>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="channel-windows" class="tabs">
            <div class="channel-window tab dummy active">
                <div class="top-bar"></div>
                <div class="messages">
                    <div class="arrow-text">
                        Choose or add a channel
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="titlebar">
    <div class="system-buttons" id="system-buttons-windows">
        <button class="system-button min"></button>
        <button class="system-button max"></button>
        <button class="system-button close"></button>
    </div>
    <div class="system-buttons" id="system-buttons-mac">
        <button class="system-button close"></button>
        <button class="system-button min"></button>
        <button class="system-button max"></button>
    </div>
</div>
</body>
<script src="scripts/common.js"></script>
<script src="scripts/main.js"></script>
</html>
